<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>strawdocs</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="./strawdocs.css">
</head>

<body>
  <div id="wrapper" class="container" style="max-width: 750px;">
    <div id="wrapper-body">
      <center>
        <h1 id="header"><a href="index.html">strawdocs</a></h1>
      </center>
      <div class="row-fluid">
        <h2 class="page-header clearfix">
          <div class="pull-left">
            About
          </div>
        </h2>

      </div>

      <div class="row-fluid">
        <center><div style="max-width: 500px;"><h4>
          strawdocs lets you recreate your project, assignment, and past tests online to share and discuss with your mates!
          <br>Best of all, it's 100% free to use, no sign-up required!
         </h4></div></center>
      </div>
      <div id="about-steps" class="container-fluid" style="padding-top: 50px;">
        <div class="row">
            <div class="col-sm-4">
              <h4 class="page-header" style="margin-top: 0;">Document Creation</h4>
              <div class="row">
                <div class="col-xs-6 col-sm-12">
                  <center>
                    <div onclick="expandImage('img1')" class="well" style="width: 180px; padding: 0; cursor: hand; cursor: pointer;">
                      <img src="./images/demoimage1.png" alt="img1" class="img-rounded img-responsive">
                    </div>
                  </center>
                </div>
                <div class="col-xs-6 col-sm-12">
                  <ul style="list-style-type: circle">
                    <li>State of the art text editing and formatting technologies</li>
                    <li>LATEX editor</li>
                    <li>Embeddable graphics</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <h4 class="page-header" style="margin-top: 0;">Document Overview</h4>
              <div class="row">
                <div class="col-xs-6 col-sm-12">
                  <center>
                  <div onclick="expandImage('img2')" class="well" style="width: 180px; padding: 0; cursor: hand; cursor: pointer;">
                    <img src="./images/demoimage2.png" alt="img2" class="img-rounded img-responsive">
                  </div>
                  </center>
                </div>
                <div class="col-xs-6 col-sm-12">
                  <ul style="list-style-type: circle">
                    <li>Get the share link</li>
                    <li>See the latest activity</li>
                    <li>Add new questions</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <h4 class="page-header" style="margin-top: 0;">Question Discussion</h4>
              <div class="row">
                <div class="col-xs-6 col-sm-12">
                  <center>
                    <div onclick="expandImage('img3')" class="well" style="width: 180px; padding: 0; cursor: hand; cursor: pointer;">
                      <img src="./images/demoimage3.png" alt="img3" class="img-rounded img-responsive">
                    </div>
                  </center>
                </div>
                <div class="col-xs-6 col-sm-12">
                  <ul style="list-style-type: circle">
                    <li>View and add replies</li>
                    <li>Add a new answer</li>
                    <li>Provide feedback to posts</li>
                    <li>Collapse and expand posts</li>
                    <li>Sort answers by recently active, newest, most votes </li>
                    <li>Totally anonymous! </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row-fluid">
        <hr>
        <center>
        <a href="./index.html" class="btn btn-lg btn-primary">You had me at free <i class="fa fa-heart fa-fw"></i></a>
        </center>
      </div>
    </div>

    <footer class="site-footer" >
      <ul style="padding-left: 0;">
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact.html">Team</a></li>
          <li><a href="./support.html">Support</a></li>
      </ul>
    </footer>

  </div>
</body>

<!-- Modal HTML -->
<div id="tutImg1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Document Creation</h4>
            </div>
            <div class="modal-body" style="padding: 0;">
              <center><img src="./images/demoimage1.png" alt="img1" class="img-responsive"/></center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="tutImg2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Document Overview</h4>
            </div>
            <div class="modal-body" style="padding: 0;">
              <center><img src="./images/demoimage2.png" alt="img2" class="img-responsive"/></center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="tutImg3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Question Discussion</h4>
            </div>
            <div class="modal-body" style="padding: 0;">
              <center><img src="./images/demoimage3.png" alt="img2" class="img-responsive"/></center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<script>
function expandImage(imgName) {
  if (imgName == 'img1') {
    $("#tutImg1").modal('show');;
  } else if (imgName == 'img2') {
      $("#tutImg2").modal('show');;
  } else if (imgName == 'img3') {
      $("#tutImg3").modal('show');;
  }
}
</script>

</html>
