<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>strawdocs</title>
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="./strawdocs.css">
</head>

<body>
  <div id="wrapper" class="container" style="max-width: 750px;">
    <div id="wrapper-body">
    <center>
      <h1 id="header"><a href="index.html">strawdocs</a></h1>
    </center>
    <div class="row-fluid">
      <h2 class="page-header">[CSC373 A3] Question 1</h2>
    </div>

    <div class="thread">

      <div class="post">
        <div class="row">
          <div class="col-lg-36">
            <div class="panel panel-default panel-post box-shadow"> <!--  -->
              <div class="panel-body">
                <div class="post-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi sed nibh a neque aliquet porttitor vel eget nisi.
              Nunc efficitur, leo vitae fermentum consequat, nunc odio mollis risus, at pretium quam est eu lacus.
              Vestibulum vitae lorem a mi viverra vehicula. Nullam vestibulum molestie enim, sed luctus orci pulvinar sed.
                </div>
              </div>
              <div class="panel-footer">
                <div class="row-fluid">
                  <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success btn-like">
                      12 <span class="fa fa-thumbs-o-up fa-fw"></span>
                    </button>
                    <button type="submit" class="btn btn-default btn-dislike">
                      1 <span class="fa fa-thumbs-o-down fa-fw"></span>
                    </button>
                  </div>
                  <button type="submit" class="btn btn-default btn-xs btn-reply">
                    <span class="fa fa-reply fa-fw"></span>
                  </button>

                  <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-caret-down fa-fw"></i></a>
                    <ul class="dropdown-menu">
                      <li><a class="post-collapse"><i class="fa fa-angle-double-up fa-fw"></i> Collapse</a></li>
                      <li><a href="#report-modal" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <small>Aug 25 '16 at 16:45</small>
                    <img class="img-thumbnail" src="http://identicon.org?t=test3&s=14"></img>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="post">
          <div class="row">
            <div class="col-xs-35 col-xs-offset-1">
              <div class="panel panel-default panel-post box-shadow" style="border-top-width: 0;">
                <div class="panel-body">
                  <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi sed nibh a neque aliquet porttitor vel eget nisi.
                Nunc efficitur, leo vitae fermentum consequat, nunc odio mollis risus, at pretium quam est eu lacus.
                Vestibulum vitae lorem a mi viverra vehicula. Nullam vestibulum molestie enim, sed luctus orci pulvinar sed.
                  </div>
                </div>
                <div class="panel-footer clearfix">
                  <div class="row-fluid">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                      <button type="submit" class="btn btn-success">
                        3 <span class="fa fa-thumbs-o-up fa-fw"></span>
                      </button>
                      <button type="submit" class="btn btn-default">
                        1 <span class="fa fa-thumbs-o-down fa-fw"></span>
                      </button>
                    </div>
                    <button type="submit" class="btn btn-default btn-xs btn-reply">
                      <span class="fa fa-reply fa-fw"></span>
                    </button>

                    <div class="dropdown pull-right">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-caret-down fa-fw"></i></a>
                      <ul class="dropdown-menu">
                        <li><a class="post-collapse"><i class="fa fa-angle-double-up fa-fw"></i> Collapse</a></li>
                        <li><a href="#report-modal" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                      </ul>
                    </div>

                    <div class="pull-right">
                      <small>Aug 25 '16 at 16:45</small>
                      <img class="img-thumbnail" src="http://identicon.org?t=test4&s=14"></img>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="post">
            <div class="row">
              <div class="col-xs-34 col-xs-offset-2">
                <div class="panel panel-default panel-post box-shadow" style="border-top-width: 0;">
                  <div class="panel-body" >
                    <div class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Morbi sed nibh a neque aliquet porttitor vel eget nisi.
                  Nunc efficitur, leo vitae fermentum consequat, nunc odio mollis risus, at pretium quam est eu lacus.
                  Vestibulum vitae lorem a mi viverra vehicula. Nullam vestibulum molestie enim, sed luctus orci pulvinar sed.
                    </div>
                  </div>
                  <div class="panel-footer clearfix">
                    <div class="row-fluid">
                      <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="submit" class="btn btn-default">
                          2 <span class="fa fa-thumbs-o-up fa-fw"></span>
                        </button>
                        <button type="submit" class="btn btn-danger">
                          2 <span class="fa fa-thumbs-o-down fa-fw"></span>
                        </button>
                      </div>
                      <button type="submit" class="btn btn-default btn-xs btn-reply">
                        <span class="fa fa-reply fa-fw"></span>
                      </button>

                      <div class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-caret-down fa-fw"></i></a>
                        <ul class="dropdown-menu">
                          <li><a class="post-collapse"><i class="fa fa-angle-double-up fa-fw"></i> Collapse</a></li>
                          <li><a href="#report-modal" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                        </ul>
                      </div>

                      <div class="pull-right">
                        <small>Aug 25 '16 at 16:45</small>
                        <img class="img-thumbnail" src="http://identicon.org?t=test5&s=14"></img>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>


    <div class="row">
        <div class="col-lg-36">
          <h2 class="page-header">Answers

            <div class="dropdown dropdown-text pull-right">
               <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by <b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <li><a href="#"><i class="fa fa-comments-o fa-fw"></i> Active</a></li>
                   <li><a href="#"><i class="fa fa-clock-o fa-fw"></i> Oldest</a></li>
                   <li><a href="#"><i class="fa fa-thumbs-o-up fa-fw"></i> Votes</a></li>
               </ul>
            </div>
          </h2>
        </div>
    </div>
      <!-- /.row -->
    <div id="answers">
      <div class="thread">

        <div class="post">
          <div class="row">
            <div class="col-lg-36">
              <div class="panel panel-default panel-post box-shadow"> <!--  -->
                <div class="panel-body">
                  <div class="post-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi sed nibh a neque aliquet porttitor vel eget nisi.
                Nunc efficitur, leo vitae fermentum consequat, nunc odio mollis risus, at pretium quam est eu lacus.
                Vestibulum vitae lorem a mi viverra vehicula. Nullam vestibulum molestie enim, sed luctus orci pulvinar sed.
                  </div>
                </div>
                <div class="panel-footer clearfix">
                  <div class="row-fluid">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                      <button type="submit" class="btn btn-default">
                        3 <span class="fa fa-thumbs-o-up fa-fw"></span>
                      </button>
                      <button type="submit" class="btn btn-default">
                        1 <span class="fa fa-thumbs-o-down fa-fw"></span>
                      </button>
                    </div>
                    <button type="submit" class="btn btn-default btn-xs btn-reply">
                      <span class="fa fa-reply fa-fw"></span>
                    </button>

                    <div class="dropdown pull-right">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-caret-down fa-fw"></i></a>
                      <ul class="dropdown-menu">
                        <li><a class="post-collapse"><i class="fa fa-angle-double-up fa-fw"></i> Collapse</a></li>
                        <li><a href="#report-modal" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                      </ul>
                    </div>

                    <div class="pull-right">
                      <small>Aug 25 '16 at 16:45</small>
                      <img class="img-thumbnail" src="http://identicon.org?t=test6&s=14"></img>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="post">
            <div class="row">
              <div class="col-xs-35 col-xs-offset-1">
                <div class="panel panel-default panel-post box-shadow" style="border-top-width: 0;">
                  <div class="panel-body">
                    <div class="post-content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Morbi sed nibh a neque aliquet porttitor vel eget nisi.
                  Nunc efficitur, leo vitae fermentum consequat, nunc odio mollis risus, at pretium quam est eu lacus.
                  Vestibulum vitae lorem a mi viverra vehicula. Nullam vestibulum molestie enim, sed luctus orci pulvinar sed.
                    </div>
                  </div>
                  <div class="panel-footer clearfix">
                    <div class="row-fluid">
                      <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button type="submit" class="btn btn-success">
                          3 <span class="fa fa-thumbs-o-up fa-fw"></span>
                        </button>
                        <button type="submit" class="btn btn-default">
                          1 <span class="fa fa-thumbs-o-down fa-fw"></span>
                        </button>
                      </div>
                      <button type="submit" class="btn btn-default btn-xs btn-reply">
                        <span class="fa fa-reply fa-fw"></span>
                      </button>

                      <div class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-caret-down fa-fw"></i></a>
                        <ul class="dropdown-menu">
                          <li><a class="post-collapse"><i class="fa fa-angle-double-up fa-fw"></i> Collapse</a></li>
                          <li><a href="#report-modal" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                        </ul>
                      </div>

                      <div class="pull-right">
                        <small>Aug 25 '16 at 16:45</small>
                        <img class="img-thumbnail" src="http://identicon.org?t=test7&s=14"></img>

                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="post">
        <div class="row">
          <div class="col-lg-36">
            <div class="panel panel-default panel-post box-shadow"> <!--  -->
              <div class="panel-body">
                <div class="post-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Morbi sed nibh a neque aliquet porttitor vel eget nisi.
              Nunc efficitur, leo vitae fermentum consequat, nunc odio mollis risus, at pretium quam est eu lacus.
              Vestibulum vitae lorem a mi viverra vehicula. Nullam vestibulum molestie enim, sed luctus orci pulvinar sed.
                </div>
              </div>
              <div class="panel-footer clearfix">
                <div class="row-fluid">
                  <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="submit" class="btn btn-default">
                      0 <span class="fa fa-thumbs-o-up fa-fw"></span>
                    </button>
                    <button type="submit" class="btn btn-danger ">
                      1 <span class="fa fa-thumbs-o-down fa-fw"></span>
                    </button>
                  </div>
                  <button type="submit" class="btn btn-default btn-xs btn-reply">
                    <span class="fa fa-reply fa-fw"></span>
                  </button>

                  <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-caret-down fa-fw"></i></a>
                    <ul class="dropdown-menu">
                      <li><a class="post-collapse"><i class="fa fa-angle-double-up fa-fw"></i> Collapse</a></li>
                      <li><a href="#report-modal" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <small>Aug 25 '16 at 16:45</small>
                    <img class="img-thumbnail" src="http://identicon.org?t=test8&s=14"></img>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
    </div>

    <div class="row-fluid">
      <center>
        <a type="button" class="btn btn-lg btn-primary btn-answer">Add a new answer</a>
      </center>
    </div>

    <br>

    <footer class="site-footer" >
      <ul style="padding-left: 0;">
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact.html">Team</a></li>
          <li><a href="./support.html">Support</a></li>
      </ul>
    </footer>

    </div>
  </div><!--/div container-->
</body>


<!-- Report Modal HTML -->
<div id="report-modal" class="modal fade">
    <div class="modal-dialog modal-report">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Report this post</h4>
            </div>
            <div class="modal-body">
                Select the reason(s) you found to report this post:
                <div class="checkbox">
                  <label><input type="checkbox" value="">Inappropriate imagery</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">URL shortener</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Spam</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Harassment, hate speech, or verbal abuse</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger"><i class="fa fa-flag fa-fw"></i> Report</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="./js/tinymce/tinymce.min.js"></script>
<script src="./js/collapsable.js"></script>
<script>
tinymce.init({
  selector: 'textarea',
  height: 100,
  theme: 'modern',
  removed_menuitems: 'newdocument',
  plugins: [
    'advlist autolink lists link image charmap preview hr',
    'searchreplace code eqneditor',
    'insertdatetime save table directionality',
    'paste textpattern imagetools'
  ],
  toolbar1: 'bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | link image eqneditor',
 });
</script>

<script>
  $(function() {
    var questionTotal = 1;

    $(document).on('click', '.btn-reply', function(e) {

      // if the reply post doesnt already exists
      if ($(this).closest('.row-fluid').siblings(".reply-content").length == 0) {
          questionTotal += 1;
          textareaId = "mceId"+questionTotal;
          console.log('new post reply');
          var parentPanelCol = $(this).closest('.panel').parent().prop('className');
          var parentPanelColVal = parseInt(parentPanelCol.substring(7,parentPanelCol.length));
          var newPanelCol = 'col-xs-'.concat((parentPanelColVal-1).toString());
          var newPanelOffset = 'col-xs-offset-'.concat((37 - parentPanelColVal).toString());
          //console.log(newPanelCol, newPanelOffset);
          // add new blank reply
          $(this).closest('.row-fluid').after('<div class="reply-content"><hr class="hr-dotted">'+
            '<textarea id="'+textareaId+'"></textarea>'+

            '<div class="row-fluid clearfix" style="margin-top: 10px;">'+
              '<button type="submit" class="btn btn-xs btn-default btn-cancel pull-left">'+
                'Cancel'+
              '</button>'+
              '<button type="submit" class="btn btn-xs btn-success pull-right">'+
                'Post'+
              '</button>'+
            '</div></div>');

          tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);

      }

    });

    $(document).on('click', '.btn-cancel', function(e) {
      tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.reply-content').find('textarea').attr('id'));
      $(this).closest('.reply-content').remove();
    });

    $(document).on('click', '.btn-answer', function(e) {

      // if the reply post doesnt already exist
       if ($('#answers').find('.answer-post').length == 0) {
         $(".btn-answer").toggleClass('hidden');
         questionTotal += 1;
         textareaId = "mceId"+questionTotal;
        // add new blank reply
        $('#answers').append('<div class="post answer-post">'+
          '<div class="row">'+
            '<div class="col-xs-36">'+
              '<div class="panel panel-default panel-post">'+
                '<div class="panel-body">'+
                  '<textarea id="'+textareaId+'"></textarea>'+

                '</div>'+
                '<div class="panel-footer clearfix">'+
                  '<button type="submit" class="btn btn-xs btn-default btn-answer-cancel pull-left">'+
                    'Cancel'+
                  '</button>'+
                  '<button type="submit" class="btn btn-xs btn-success pull-right">'+
                    'Post'+
                  '</button>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</div><br>'+
        '</div>');
      }
      tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);

    });

    $(document).on('click', '.btn-answer-cancel', function(e) {
      // destroy tinymce instance
      tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.panel').find('textarea').attr('id'));
      $(this).closest('.post').remove();
      $(".btn-answer").toggleClass('hidden');
    });
  });
</script>
</html>
