<li><a onclick="doc_settings('{{document.title}}', '{{document.slug}}')" href="#docUnmanage" data-toggle="modal"><i class="fa fa-user-times fa-fw"></i> Unmanage</a></li>

<!--  Document Unmanage HTML -->
<div id="docUnmanage" class="modal fade">
    <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="container-fluid">
                    <h3 class="modal-title">Unmanage Document</h3>
                    <hr>
                    <h4> Are you sure you want to <div style="display: inline; color: #8a6d3b">revoke your own</div> permissions to edit and moderate this document?</h4>
                    <div class="alert alert-warning"> You are the only one managing this document. By leaving no one in charge, questions cannot be created and new posts will remain unmoderated.</div>
                    <hr>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form method="post" style="display: inline">{% csrf_token %}
                    <input class="doc-slug" name="doc_slug" type="hidden">
                    <button type="button" class="btn btn-warning pull-right">Unmanage</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
