/*****************
BASE
*****************/

/* General */
@font-face {
    font-family: ubuntu;
    src: url('./Ubuntu-R.ttf');
}

@font-face {
    font-family: ubuntu-l;
    src: url('./Ubuntu-L.ttf');
}

h1 {
  font-size: 48px;
}

h3 {
  font-family: ubuntu;
}

h3 > div {
  display: inline;
  color: #777777;
}

html,body{
    height: 100%;
}

body  {
  font-family: ubuntu-l;
}

a {
  cursor: pointer;
  cursor: hand;
}

.page-header {
    border-bottom: 1px solid #ddd;
    font-family: ubuntu;
}

.modal-dialog {
  width: 300px;
  margin: 30px auto;
}

.dropdown-text {
  font-size: 20px;
}

.dropdown-menu {
  min-width: inherit;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.button-favourite {
  height: auto;
  width: 1.28571429em;
  line-height: 0em;
  cursor: pointer;
  cursor: hand;
}

.button-favourite > .fa-star {
  color: #ffeb3b;
}

.modal-backdrop {background: #f7f7f7;}

.modal.fade .modal-dialog {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

/* Base components */
#wrapper {
    min-height: 100%;
    position:relative;
    max-width: 750px;
}

#wrapper-body {
    padding-bottom: 100px;    /* height of footer */
}

#nav-link {
  margin-right: 10px;
}

#header {
  margin-top: 0px;
  font-family: ubuntu;
}

#header a {
  color:inherit;
}

#site-footer {
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

#site-footer ul {
   padding-left: 0;
}

#site-footer li {
    display: inline-block;
    margin: 0 10px;

}

/**
 * 3D Now In Beta Ribbon
 */

.ribbon-holder {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 10em;
}

.right.ribbon-holder {
  right: 0;
}

.left.ribbon-holder {
  left: 0;
}

.ribbon,
.ribbon:hover {
  text-decoration: none;
}

.ribbon {
  font-family: Collegiate, sans-serif;
  letter-spacing: -.1px;
  opacity: 0.95;

  padding: 0.25em 0;
  position: relative;
  top: 2.5em;

  /* Defaults friendly for white pages. */
  -moz-box-shadow: 0 0 13px #888;
  -webkit-box-shadow: 0 0 13px #888;
  color: #FFF;
  display: block;
  line-height: 1.35em;
}

.ribbon .text {
  padding: 0.1em 3em;
}

.right .ribbon {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -2.6em;
}

.left .ribbon {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: -2.6em;
}

.white.ribbon {
  color: #111;
  background-color: #F5F5F5;
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#fff));
  -moz-box-shadow: 0 0 13px #999;
  -webkit-box-shadow: 0 0 13px #999;
  text-shadow: 0 0 .05em;
}

.white.ribbon .text {
  border: 1px solid #cecece;
}

.red.ribbon {
  background-color: #9a0000;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a0000), to(#a90000));
}

.red.ribbon .text {
  border: 1px solid #bf6060;
}

.green.ribbon {
  background-color: #006e00;
  background: -webkit-gradient(linear, left bottom, left top, from(#006e00), to(#007200));
}

.green.ribbon .text {
  border: 1px solid #6bac6b;
}

.darkblue.ribbon {
  background-color: #121621;
  color: #ecedee;
}

.darkblue.ribbon .text {
  border: 1px solid #53565e;
}

.orange.ribbon {
  background-color: #E57504;
  background: -webkit-gradient(linear, left bottom, left top, from(#dc7202), to(#ee7906));
}

.orange.ribbon .text {
  border: 1px solid #ebaa65;
}

.gray.ribbon {
  background-color: #6d6d6d;
  background: -webkit-gradient(linear, left bottom, left top, from(#6a6a6a) to(#6d6d6d));
}

.gray.ribbon .text {
  border: 1px solid #a4a4a4;
}

/*****************
Document
*****************/
/* button group fix */
.btn-group > form > .btn, .btn-group-vertical > form > .btn {
    position: relative;
    float: left;
}

.btn-group-xs > form > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-group-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rich-text {
  font-family: Arial;
}
/*****************
Team
*****************/
.avatar {
    width: 100px;
    margin: 10px;
    border: 2px solid rgba(51,51,51,1);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

/*****************
Create
*****************/
.panel-heading {
  margin: 0;
  padding: 6px 15px;
}

.panel-body {
  padding: 0;
}

.question-title-input, .document-title-input {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0;
}

.question-title-input {
  background-color: #f5f5f5;
  font-size: 24px;
}

.document-title-input {
  font-size: 30px;
  margin-top: -4px;
  height: 40px;
}

.area-span {
  border:0;
  background-color: transparent;
}

.btn-remove {
  border:0;
  background-color: transparent;
  cursor: hand;
  cursor: pointer;
}

/*****************
Overview
*****************/
.post-content {
  padding: 10px;
  font-family: Arial;
}

.panel-footer {
  padding: 5px 10px;
}

/* dowpdown menu a submit link fix */
.dropdown-menu > li > form > a {
    padding: 3px 15px;
}
.dropdown-menu > li > form > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu > li > form > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
/*****************
Question
*****************/
hr.dark {
   border-top: 1px solid #ddd;
}

hr.thin {
  margin-top: 10px; margin-bottom: 10px;

}


/*****************
Simple--MDE
*****************/
.editor > .editor-toolbar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.editor > .CodeMirror {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  min-height: 100px;
}

.editor .CodeMirror-scroll {
  min-height: 100px;
}

.hidden-comment .editor-toolbar,
.hidden-comment .CodeMirror,
#question-group .editor-toolbar,
#question-group .CodeMirror
{
  border: inherit;
}

.hidden-comment .CodeMirror,
#question-group .CodeMirror
{
  border-top: 1px solid #ddd;
}
/*****************
Tiny-MCE
*****************/
.mce-container * {
  font-family: Arial,"Helvetica Neue",Helvetica,'tinymce',Arial,sans-serif !important;
}

.mce-toolbar .mce-btn {
  background-color: transparent !important;
}

.mce-statusbar {
  border-width: 0 !important;
}

.panel-body > .mce-panel {
  border: 0 !important;
}

.question-content > .mce-panel {
  border-width: 0px !important;
  background-color: transparent !important;
}

.mce-container-body .mce-panel{
  background-color: transparent !important;
}

.mce-resizehandle {
  right: 50%;
}

.mce-path {
  display: none !important;
}

/* Window Shadows */
.mce-window {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
/*****************
Latex
*****************/
#EqnEditor * {
   margin:0 auto; text-align:center;
 }

textarea {
   background-color: white !important;
 }

.mce-floatpanel {
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
 }

.mce-floatpanel .mce-foot {
   background-color: #f5f5f5;
   border-top: 1px solid #ddd;
 }

.mce-title {
  font-weight: normal !important;
}

.mce-window-head {
   background-color: #f5f5f5 !important;
   border-bottom: 1px solid #ddd;
 }

map > area {
   cursor: pointer !important;
   cursor: hand !important;
}

.mce-window #hover {
   display: none !important;
}
