/*****************
BASE
*****************/

h1 {
  font-size: 48px;
}

h3 > div {
  display: inline;
  color: #777777;
}

html,body{
    height: 100%;
}

a {
  cursor: pointer;
  cursor: hand;
}

.page-header {
    border-bottom: 1px solid #ddd;
}

.modal-dialog {
  width: 300px;
  margin: 30px auto;
}

.dropdown-text {
  font-size: 20px;
}

.dropdown-menu {
  min-width: inherit;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.button-favourite {
  height: auto !important;
  width: 1.28571429em !important;
  line-height: 0em !important;
  cursor: pointer !important;
  cursor: hand !important;
}

.button-favourite > .fa-star {
  color: #ffdf00;
}

.modal-backdrop {background: #f7f7f7;}

.modal.fade .modal-dialog {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

/* Base components */
#wrapper {
    min-height: 100%;
    position:relative;
    max-width: 750px;
}

#wrapper-body {
    padding-bottom: 100px;    /* height of footer */
}

#nav-link {
  margin-right: 10px;
}

#header {
  margin-top: 0px;
  font-weight: 600;
}

#header a {
  color:inherit;
}

#site-footer {
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

#site-footer ul {
   padding-left: 0;
}

#site-footer li {
    display: inline-block;
    margin: 0 10px;

}

/**
 * 3D Now In Beta Ribbon
 */

.ribbon-holder {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 10em;
}

.right.ribbon-holder {
  right: 0;
}

.left.ribbon-holder {
  left: 0;
}

.ribbon,
.ribbon:hover {
  text-decoration: none;
}

.ribbon {
  font-family: Collegiate, sans-serif;
  letter-spacing: -.1px;
  opacity: 0.95;

  padding: 0.25em 0;
  position: relative;
  top: 2.5em;

  /* Defaults friendly for white pages. */
  -moz-box-shadow: 0 0 13px #888;
  -webkit-box-shadow: 0 0 13px #888;
  color: #FFF;
  display: block;
  line-height: 1.35em;
}

.ribbon .text {
  padding: 0.1em 3em;
  font-weight: 600;
}

.right .ribbon {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -2.6em;
}

.left .ribbon {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: -2.6em;
}

.white.ribbon {
  color: #111;
  background-color: #F5F5F5;
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#fff));
  -moz-box-shadow: 0 0 13px #999;
  -webkit-box-shadow: 0 0 13px #999;
  text-shadow: 0 0 .05em;
}

.white.ribbon .text {
  border: 1px solid #cecece;
}

.red.ribbon {
  background-color: #9a0000;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a0000), to(#a90000));
}

.red.ribbon .text {
  border: 1px solid #bf6060;
}

.green.ribbon {
  background-color: #006e00;
  background: -webkit-gradient(linear, left bottom, left top, from(#006e00), to(#007200));
}

.green.ribbon .text {
  border: 1px solid #6bac6b;
}

.darkblue.ribbon {
  background-color: #121621;
  color: #ecedee;
}

.darkblue.ribbon .text {
  border: 1px solid #53565e;
}

.orange.ribbon {
  background-color: #E57504;
  background: -webkit-gradient(linear, left bottom, left top, from(#dc7202), to(#ee7906));
}

.orange.ribbon .text {
  border: 1px solid #ebaa65;
}

.gray.ribbon {
  background-color: #6d6d6d;
  background: -webkit-gradient(linear, left bottom, left top, from(#6a6a6a) to(#6d6d6d));
}

.gray.ribbon .text {
  border: 1px solid #a4a4a4;
}

/*****************
Document
*****************/
/* button group fix */
.btn-group > form > .btn, .btn-group-vertical > form > .btn {
    position: relative;
    float: left;
}

.btn-group-xs > form > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-group-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/*****************
About
*****************/


/*****************
Team
*****************/
.avatar {
    width: 100px;
    margin: 10px;
    border: 2px solid rgba(51,51,51,1);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

/*****************
Create
*****************/
.panel-heading {
  margin: 0;
  padding: 6px 15px;
}

.panel-body {
  padding: 0;
}

.question-title-input, .document-title-input {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0;
}

.question-title-input {
  background-color: #f5f5f5;
  font-size: 24px;
}

.document-title-input {
  font-size: 30px;
  margin-top: -4px;
  height: 40px;
}

.area-span {
  border:0;
  background-color: transparent;
}

.question-title-input+.input-group-addon {
  border:0;
  background-color: transparent;
}

.btn-remove {
  cursor: hand;
  cursor: pointer;
}

.panel-cloud {
  border-left-width: 0px;
  border-radius: 25px;
  border-width: 0 0px 4px 0px;
  padding-bottom: 5px;
}

.fa.fa-4x.panel-cloud {
  width: 100px;
  margin-bottom: inherit;
}
/*****************
Overview
*****************/
.panel-footer {
  padding: 5px 10px;
}

/* dowpdown menu a submit link fix */
.dropdown-menu > li > form > a {
    padding: 3px 15px;
}
.dropdown-menu > li > form > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu > li > form > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

/*****************
Question
*****************/
hr.dark {
   border-top: 1px solid #ddd;
}

hr.thin {
  margin-top: 10px; margin-bottom: 10px;

}


/*****************
Simple--MDE
*****************/
.editor > .editor-toolbar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.editor > .CodeMirror {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  min-height: 100px;
}

.editor .CodeMirror-scroll {
  min-height: 100px;
}

.hidden-comment .editor-toolbar,
.hidden-comment .CodeMirror,
#question-group .editor-toolbar,
#question-group .CodeMirror
{
  border: inherit;
}

.hidden-comment .CodeMirror,
#question-group .CodeMirror
{
  border-top: 1px solid #ddd;
}

.rich-text, .editor-preview, .editor-preview-side {
  padding: 15px !important;
}
.rich-text *, .editor-preview *, .editor-preview-side * {
  font-family: Arial;
}

.rich-text h1, .cm-header-1, .editor-preview h1, .editor-preview-side h1 {
  font-size: 21px !important;
  margin: 0px 0px 0px 0px;
}
.rich-text h2, .cm-header-2, .editor-preview h2, .editor-preview-side h2 {
  font-size: 20px !important;
  margin: 0px 0px 0px 0px;
}
.rich-text h3, .cm-header-3, .editor-preview h3, .editor-preview-side h3 {
  font-size: 19px !important;
  margin: 0px 0px 0px 0px;
}
.rich-text h4, .cm-header-4, .editor-preview h4, .editor-preview-side h4 {
  font-size: 18px !important;
  margin: 0px 0px 0px 0px;
}
.rich-text h5, .cm-header-5, .editor-preview h5, .editor-preview-side h5 {
  font-size: 17px !important;
  margin: 0px 0px 0px 0px;
}
.rich-text h6, .cm-header-6, .editor-preview h6, .editor-preview-side h6 {
  font-size: 16px !important;
  margin: 0px 0px 0px 0px;
}
.rich-text blockquote, .editor-preview blockquote , .editor-preview-side blockquote {
  font-size: 15px !important;
  margin-bottom: 0px !important;
}
.cm-header {
  font-weight: inherit !important;
}

.rich-text pre {
  margin-bottom: 10px !important;
}

.editor-preview pre, .editor-preview-side pre {
    display: block !important;
    padding: 9.5px !important;
    margin: 0 0 10px !important;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    color: #333333 !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
}

.rich-text table td,
.rich-text table th {
    border: 1px solid #ddd !important;
    padding: 5px !important;
}

.CodeMirror {
  color: #333333 !important;
}

.CodeMirror-code * {
  font-family: Arial;
}
