{% extends "base.html" %}
{% load static %}
{% block content %}
{% if password_reset %}
<div id="password-reset-modal" class="modal fade">
  <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
      <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div class="container-fluid">

                  <h3 class="modal-title">Password changed!</h3>
                  <hr>
                  <h4 class="text-center">Hooray! You successfully changed your password.<br><br>However, we need you to <a onclick="$('#password-reset-modal').modal('hide');$('#login').modal('show');">log in</a> again, just to make sure the password sticks.</h4>
                  <hr>
                  <button class="btn btn-primary center-block" onclick="$('#password-reset-modal').modal('hide');$('#login').modal('show');">Log in</button>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
<div class="row text-center">
  <div class="col-xs-30 col-xs-offset-3 col-sm-24 col-sm-offset-6">
      <h4>
      strawdocs lets you recreate your project, assignment, and past tests
      online to share and discuss with your mates!
      <br>Think of it as Piazza meets StackExchange.
      </h4>
  </div>
</div>
<hr width="75%">

<div id="features" class="row text-center">
  <div class="col-xs-36 col-sm-14 col-sm-offset-4">
  <div class="col-xs-14 col-sm-36"><i class="fa fa-user-plus panel panel-cloud fa-4x fa-fw sr-icons" style="color: rgba(35, 106, 140, 0.5);"></i></div>
  <div class="col-xs-22 col-sm-36">
    <h3>Sign Up</h3><h4>It takes less than 20 seconds to get you started with strawdocs.</h4>
  <hr class="col-xs-26 col-xs-offset-5 visible-xs">
  </div>
  </div>
  <div class="col-xs-36 col-sm-14">
  <div class="col-xs-14 col-sm-36"><i class="fa fa-file-text panel panel-cloud fa-4x fa-fw sr-icons" style="color: rgba(239, 212, 65, 0.7);"></i></div>
  <div class="col-xs-22 col-sm-36">
    <h3>Make a Strawdoc</h3><h4>Replicate your document online (you can always add to it later.)</h4>
  <hr class="col-xs-26 col-xs-offset-5 visible-xs">
  </div>
  </div>
  <div class="col-xs-36 col-sm-14 col-sm-offset-4">
  <div class="col-xs-14 col-sm-36"><i class="fa fa-paper-plane panel panel-cloud fa-4x fa-fw sr-icons" style="color: rgba(50, 180, 50, 0.67);"></i></div>
  <div class="col-xs-22 col-sm-36">
    <h3>Invite your Friends</h3><h4>Grab the link to send to your mates.</h4>
  <hr class="col-xs-26 col-xs-offset-5 visible-xs">
  </div>
  </div>
  <div class="col-xs-36 col-sm-14">
  <div class="col-xs-14 col-sm-36"><i class="fa fa-comments panel panel-cloud fa-4x fa-fw sr-icons" style="color: rgba(255, 65, 54, 0.4);"></i></div>
  <div class="col-xs-22 col-sm-36">
    <h3>Discussion</h3><h4>Rate, reply, and answer questions.</h4>
  </div>
  </div>
</div>
<hr width="75%">
<div style="text-align: center;">
    <a href="#signup" data-toggle="modal" class="btn btn-lg btn-primary">Let's go already! <i class="fa fa-heart fa-fw"></i></a>
</div>



{% endblock %}

{% block scripts %}
<script src="{% static 'scrollreveal/scrollreveal.min.js' %}"></script>
{% if password_reset %}
  <script type="text/javascript">
  $(document).ready(function(){
  	$("#password-reset-modal").modal('show');
  });
  </script>
{% endif %}
<script>
  // Initialize and Configure Scroll Reveal Animation
  window.sr = ScrollReveal();
  sr.reveal('.sr-icons', {
      duration: 600,
      scale: 0.3,
      distance: '0px'
  }, 400);
</script>
{% endblock %}
