{% extends "base.html" %}

{% block content %}
{% if password_reset %}
<div id="password-reset-modal" class="modal fade">
  <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
      <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div class="container-fluid">

                  <h3 class="modal-title">Password changed!</h3>
                  <hr>
                  <h4 class="text-center">Hooray! You successfully changed your password.<br><br>However, we need you to <a onclick="$('#password-reset-modal').modal('hide');$('#login').modal('show');">log in</a> again, just to make sure the password sticks.</h4>
                  <hr>
                  <button class="btn btn-primary center-block" onclick="$('#password-reset-modal').modal('hide');$('#login').modal('show');">Log in</button>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
<div class="row text-center" style="margin-bottom: 30px;">
  <div class="panel panel-default panel-cloud col-xs-24 col-xs-offset-6">
    <div class="panel-body">
      <h4>
      strawdocs lets you recreate your project, assignment, and past tests
      online to share and discuss with your mates!
      <br>Think of it as GoogleDocs meets StackExchange.
      </h4>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12 col-xs-offset-5">
  <div class="row"><i class="fa fa-user-plus panel panel-cloud fa-4x fa-fw  sr-icons"></i></div>
  <div class="row">
    <h3>Sign Up</h3><h4>It takes less than 20 seconds to get you started with strawdocs.</h4>
  </div>
  </div>
  <div class="col-xs-12 col-xs-offset-2">
  <i class="fa fa-file-text panel panel-cloud fa-4x fa-fw  sr-icons"></i>
  <div class="row">
    <h3>Make a Strawdoc</h3><h4>Replicate your document online (you can always add to it later.)</h4>
  </div>
  </div>
  </div>
  <div class="row text-center" style='margin-top: 50px;'>
  <div class="col-xs-12 col-xs-offset-5">
  <i class="fa fa-paper-plane panel panel-cloud fa-4x fa-fw  sr-icons"></i>
  <div class="row">
    <h3>Invite your Friends</h3><h4>Grab the link to send to your mates.</h4>
  </div>
  </div>
  <div class="col-xs-12 col-xs-offset-2">
  <i class="fa fa-comments panel panel-cloud fa-4x fa-fw  sr-icons"></i>
    <div class="row">
    <h3>Discussion</h3><h4>Rate, reply, and answer questions.</h4>
  </div>
  </div>
</div>
<hr>
<div style="text-align: center;">
    <a href="#signup" data-toggle="modal" class="btn btn-lg btn-primary">Let's go already! <i class="fa fa-heart fa-fw"></i></a>
</div>



{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
{% if password_reset %}
  <script type="text/javascript">
  $(document).ready(function(){
  	$("#password-reset-modal").modal('show');
  });
  </script>
{% endif %}
<script>
  // Initialize and Configure Scroll Reveal Animation
  window.sr = ScrollReveal();
  sr.reveal('.sr-icons', {
      duration: 600,
      scale: 0.3,
      distance: '0px'
  }, 400);
</script>
{% endblock %}
