{% extends "base.html" %}
{% load static %}

{% block content %}

<form method="POST">{% csrf_token %}

<div class="row-fluid">
  <h2 class="page-header" style="padding-bottom: 6px;">
    {{ DCForm.d_title }}
    <!-- <input type="text" class="form-control document-title-input" placeholder="Document Title" maxlength="30"> -->
  </h2>
</div>

<div id="question-group">
  <div class="question">
    <div class="row-fluid">
      <div class="panel panel-default box-shadow">
        <div class="panel-heading" style="padding-top: 2px; padding-bottom: 2px;">

          <div class="input-group">
            {{ QCForm.q_title }}
            <!-- <input type="text" class="form-control question-title-input" placeholder="Question Title" maxlength="40"> -->
            <addon class="input-group-addon area-span" id="basic-addon2"></addon>
          </div>
        </div>
        <div class="panel-body">
          <div class="question-content">
            <!-- <textarea></textarea> -->
            {{ QCForm.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <center>
    <div id="btn-add" class="btn btn-lg btn-default">Add another question</div>
  </center>

  <hr>

  <center>
    <button onclick="removeRequired()" type="submit" name="createDocumentSubmit" class="btn btn-lg btn-success">Create my document!</button>
  </center>
</form>

{% endblock %}

{% block scripts %}
<script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

<script>
tinymce.init({
  elements : 'mceid1',
  selector: 'textarea',
  height: 100,
  required: 'False',
  theme: 'modern',
  removed_menuitems: 'newdocument',
  plugins: [
    'advlist autolink lists link image charmap preview hr',
    'searchreplace code eqneditor',
    'insertdatetime save table directionality',
    'paste textpattern imagetools jbimages'
  ],
  toolbar1: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages eqneditor',
  relative_urls: false
 });
</script>

<script>
  $(function() {
      var questionTotal = 1;

      $(document).on('click', '#btn-add', function(e) {
          questionTotal += 1;
          textareaId = "mceId"+questionTotal;

          // if only one panel, add remove button
          if ($("#question-group").children().length == 1) {
            $('addon').replaceWith('<addon class="input-group-addon btn-remove">x</addon>');
          }
          $(".question:last").clone().appendTo("#question-group").find("input[type='text']").val("");
          $(".question:last").find(".question-content").html('<textarea id="'+textareaId+'"></textarea>');
          tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);
          $(".question:last").find("textarea").attr("name", "content");
      });

      $(document).on('click', '.btn-remove', function(e) {
          // destroy tinymce instance
          tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.panel').find('textarea').attr('id'));
          // destroy rest of panel
          $(this).closest('.question').remove();
          // if only one panel left, destroy remove button
          if ($("#question-group").children().length == 1) {
            $('addon').replaceWith('<addon class="input-group-addon area-span"></addon>');
          }

      });


  });
</script>

<script>
function removeRequired() {
   /* Remove the 'required' field for the hidden input textarea
    * not doing so will pick up an unavoidable error for validating the textarea
    */
    $(".question-content textarea").removeAttr("required");
}
</script>

<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script type="text/javascript">
LatexIT.add('p',true);
</script>

{% endblock %}
