{% extends "base.html" %}
{% load static %}

{% block content %}

<form method="POST" id="create-document-form">{% csrf_token %}

<div class="row-fluid">
  <h2 class="page-header" style="padding-bottom: 6px;">
    {{ DCForm.d_title }}
    <!-- <input type="text" class="form-control document-title-input" placeholder="Document Title" maxlength="30"> -->
  </h2>
</div>

<div id="question-group">
  <div class="question">
    <div class="row-fluid">
      <div class="panel panel-default box-shadow">
        <div class="panel-heading" style="padding-top: 2px; padding-bottom: 2px;">

          <div class="input-group">
            {{ QCForm.q_title }}
            <addon class="input-group-addon area-span" id="basic-addon2"></addon>
          </div>
        </div>
        <div class="panel-body">
          <div class="editor">
            {{ QCForm.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <center>
    <div id="btn-add" class="btn btn-lg btn-default">Add another question</div>
  </center>

  <hr>

  <center>
    <button type="submit" name="createDocumentSubmit" class="btn btn-lg btn-success">Create my document!</button>
  </center>
</form>

{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
  questionmde = new SimpleMDE({
    element: document.getElementById("create-question-editor"),
    spellChecker: false,
    status: false,
  });
</script>

<script type="text/javascript">
  $(function() {
      var questionTotal = 1;
      var all_questions = [];

      $(document).on('click', '#btn-add', function(e) {
          questionTotal += 1;
          textareaId = "mceId"+questionTotal;

          // if only one panel, add remove button
          if ($("#question-group").children().length == 1) {
            $('addon').replaceWith('<addon class="input-group-addon btn-remove">x</addon>');
          }
          $(".question:last").clone().appendTo("#question-group").find("input[type='text']").val("");
          $(".question:last").find(".editor").html('<textarea id='+textareaId+' name="content"></textarea>');

          all_questions.push(new SimpleMDE({
            element: document.getElementById(textareaId),
            spellChecker: false,
            status: false,
          }));
      });

      $(document).on('submit', '#create-document-form', function(e) {
          var index = 0;
          $.each('textarea', function(){
            $(textarea).val(all_questions[index].value()); // get the value of this simplemde and set the textarea to this value
            index += 1;
          });
      });
  });
</script>
{% endblock %}
