{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row-fluid">
  <h2 class="page-header" style="padding-bottom: 6px;">
    <input type="text" class="form-control document-title-input" placeholder="Document Title" maxlength="30">
  </h2>
</div>

<div id="question-group">
  <div class="question">
    <div class="row-fluid">
      <div class="panel panel-default box-shadow">
        <div class="panel-heading" style="padding-top: 2px; padding-bottom: 2px;">

          <div class="input-group">
            <input type="text" class="form-control question-title-input" placeholder="Question Title" maxlength="40">
            <addon class="input-group-addon area-span" id="basic-addon2"></addon>
          </div>
          <!--<form class="form-horizontal">
            <div class="form-group" style="margin-bottom: 0;">
              <div class="col-xs-11">
                <input type="text" class="form-control question-title-input" placeholder="Question Title" maxlength="30">
              </div>
            </div>
          </form> -->
        </div>
        <div class="panel-body">
          <div class="question-content">
            <textarea></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  <center>
    <div id="btn-add" class="btn btn-lg btn-default">Add another question</div>
  </center>

  <hr>

  <center>
    <a href="doc-example.html" class="btn btn-lg btn-success">Create my document!</a>
  </center>

{% endblock %}

{% block scripts %}
<script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>

<script>
tinymce.init({
  elements : 'mceid1',
  selector: 'textarea',
  height: 100,
  theme: 'modern',
  removed_menuitems: 'newdocument',
  plugins: [
    'advlist autolink lists link image charmap preview hr',
    'searchreplace code eqneditor',
    'insertdatetime save table directionality',
    'paste textpattern imagetools jbimages'
  ],
  toolbar1: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image jbimages eqneditor',
  relative_urls: false
 });
</script>

<script>
  $(function() {
      var questionTotal = 1;

      $(document).on('click', '#btn-add', function(e) {
          questionTotal += 1;
          textareaId = "mceId"+questionTotal;

          // if only one panel, add remove button
          if ($("#question-group").children().length == 1) {
            $('addon').replaceWith('<addon class="input-group-addon btn-remove">x</addon>');
            //$('<span class="input-group-addon btn-remove" id="basic-addon2">x</span>').appendTo('.input-group:last');
          }

          // add new blank question without remove button
          $('<div class="question">'+
              '<div class="row-fluid">'  +
                '<div class="panel panel-default box-shadow">' +
                  '<div class="panel-heading" style="padding-top: 2px; padding-bottom: 2px;">' +
                    '<div class="input-group">' +
                      '<input type="text" class="form-control question-title-input" placeholder="Question Title" maxlength="40">' +
                        '<addon class="input-group-addon btn-remove">x</addon>' +
                    '</div>' +
                  '</div>' +
                  '<div class="panel-body">' +
                    '<div class="question-content">' +
                      '<textarea id="'+textareaId+'"></textarea>' +
                    '</div>' +
                  '</div>' +
                '</div>' +
              '</div>' +
            '</div>').appendTo( "#question-group" );

            tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);

      });

      $(document).on('click', '.btn-remove', function(e) {
          // destroy tinymce instance
          tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.panel').find('textarea').attr('id'));

          // destroy rest of panel
          $(this).closest('.question').remove();

          // if only one panel left, destroy remove button
          if ($("#question-group").children().length == 1) {
            $('addon').replaceWith('<addon class="input-group-addon area-span"></addon>');
          }

      });


  });
</script>

<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script type="text/javascript">
LatexIT.add('p',true);
</script>

{% endblock %}
