{% load number_new %}
{% load str_to_int %}
<div class="col-sm-18 col-xs-36">
    <div class="panel panel-default">
        <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-xs-30">
                        <h4>
                            <a href="{% url 'overview' doc_slug=document.slug %}" style="word-wrap: break-word;">{{document.title}}</a><br>
                            <small>{{ document|number_new:user }} unread answer{% if document|number_new:user|str_to_int != 1 %}s{% endif %}</small>
                        </h4>
                    </div>
                    <div class="col-xs-6">
                          <br>
                          <div class="dropdown pull-right">
                              <a data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
                              <ul class="dropdown-menu">
                                 {% if doc_type == "managed" %}
                                 <li><a onclick="doc_settings('{{document.title}}', '{{document.slug}}')" href="#docDelete" data-toggle="modal"><i class="fa fa-trash fa-fw"></i> Delete</a></li>
                                 {% else %}
                                 <li>
                                   <form class="change-favourite-form" style="display:inline" method="POST">{% csrf_token %}
                                     <input type="hidden" name="removeFavouriteSubmit" value='{{document.slug}}'>
                                     <a onclick="$(this).closest('form').submit();"><i class="fa fa-star-o fa-fw"></i> Unstar</a>
                                   </form>
                                </li>
                                 {% endif %}
                              </ul>
                          </div>
                    </div>
                </div>
        </div>
    </div>
</div>
