{% extends "base.html" %}
{% load static %}

{% block head_title %}Documents{% endblock %}

{% block content %}
<h2 class="page-header clearfix">
    <div class="pull-left">
        <i class="fa fa-file-text-o fa-fw"></i> Documents
    </div>
    <div class="pull-right">
        <a href="/create" class="btn btn-xs btn-primary">
            <i class="fa fa-plus fa-fw"></i> Create strawdoc
        </a>
    </div>
</h2>
<!-- <h4>
    You're not participating in any documents yet...
</h4> -->
<h3>Documents You Manage <div>({{ documents_managed.count }})</div></h3>
<div class="container-fluid">
    {% for document in documents_managed %}
        {% include "document_section.html" with document=document doc_type="managed"%}
    {% endfor %}
    <div class="col-sm-18 col-xs-36">
        <a href="/create" class="btn btn-default btn-block">
            <h4><i class="fa fa-plus fa-fw"></i> Create a new strawdoc</h4>
        </a>
    </div>
</div>
<hr>
<div id="your-starred-documents"</div>
<h3>Your Starred Documents <div>({{ user_document_followings.count }})</div></h3>
<div class="container-fluid">
  {% for following in user_document_followings %}
    {% include "document_section.html" with document=following.document doc_type="starred"%}
  {% empty %}
    <h4>you haven't starred any documents...</h4>
  {% endfor %}
</div>
</div>

<!--  Document Delete HTML -->
<div id="docDelete" class="modal fade">
    <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="container-fluid">
                    <h3 class="modal-title">Delete Document</h3>
                    <hr>
                    <h4> Are you sure you want to destroy '<div id="doc-name" style="display: inline; color:#a94442; word-break: break-all;"></div>' and all of its questions, answers, and replies?</h4>
                    <div class="alert alert-danger"><strong>This is an irrevertible change. Once you click delete you cannot get this data back.</strong></div>
                    <hr>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form method="post" style="display: inline">{% csrf_token %}
                    <input id="doc-slug" name="doc_slug" type="hidden">
                    <button name="deleteDocumentSubmit" type="submit" class="btn btn-danger pull-right">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
<script type="text/javascript">
    function doc_settings(title, slug) {
      // inject the title into the form
      $("#doc-name").text(title);
      // inject the slug into the form
      $("#doc-slug").val(slug);
    }
</script>
<script type="text/javascript">
    // AJAX for unfavouriting
    $(document).on('submit', '.change-favourite-form', function(event) {
      event.preventDefault();
      ajax_post($(this), "#your-starred-documents", "#your-starred-documents");
    });
</script>
{% endblock %}
