{% extends "base.html" %}
{% load static %}
{% load title_to_url %}
{% load latest_activity %}
{% load format_activity_date %}
{% load number_new %}
{% load is_following %}
{% block content %}

<div class="row-fluid">
    <h2 class="page-header clearfix">
        <form style="display: inline;" method="post">{% csrf_token %}
            <input type="hidden" name="changeFavouriteSubmit">
            <span class="fa-stack button-favourite" onclick="$(this).closest('form').submit();">
              {% if document|is_following:user %}<i class="fa fa-star fa-stack-1x"></i>{% endif %}
              <i class="fa fa-star-o fa-stack-1x "></i>
            </span>
        </form>
        [{{ document.title }}] Overview
        <a class="pull-right" href="#docSettings" data-toggle="modal" ><i class='fa fa-share-alt'></i></a>
        <!--  Document Settings HTML -->
        <div id="docSettings" class="modal fade">
            <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="container-fluid">

                            <h3 class="modal-title">Share</h3>
                            <hr>
                                <div class="input-group">
                                  <span class="input-group-btn">
                                    <button id="fetchBtn" data-clipboard-target="#docLink" class="btn btn-default" type="button" data-toggle="popover" data-content="Copied!">
                                        <i class="fa fa-link"></i>
                                    </button>
                                  </span>
                                  <input id="docLink" type="text" onfocus="this.select();" class="form-control" value="https://strawdocs.com/doc/{{ document.slug }}" readonly="readonly">
                                </div>
                            <hr style='max-width: 50px; border-top: 2px solid #eee;'>
                            <center>
                                <!-- Facebook -->
                                <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" class="fa-stack fa-share-facebook">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </a>

                                <!-- Google+ -->
                                <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" class="fa-stack fa-share-googleplus">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </a>

                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" class="fa-stack fa-share-twitter">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </a>
                                <hr>
                                <button type="button" class="btn btn-default" href="document-settings.html" data-dismiss="modal" style="width: 100px;">Done</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </h2>
</div>

<div id="question-group">
    {% for question in questions %}
      <div class="panel panel-default box-shadow"> <!--  -->
        <div class="panel-heading">
          <div class="row-fluid clearfix">
          <h3 style="margin: 0;">
            <a href="{{request.path}}/{{ question.title|title_to_url }}">{{ question.title }}</a>
             <small class="pull-right">{{ question.hits }} view{% if question.hits != 1 %}s{% endif %}</small>
          </h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="post-content">
              {{ question.content|safe }}
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="row-fluid">
            <div class="pull-left">
              <a href="{{request.path}}/{{ question.title|title_to_url }}">{{ question.answer_set.all.count }} answer{% if question.answer_set.all.count != 1%}s{% endif %}
                <em style="color:black">({{question|number_new:user}} new)</em>
              </a>
            </div>
            <div class="pull-right">
              {% with last_post=question|latest_activity %}
              <small>{{last_post|format_activity_date}}</small> <!--answered N/A minutes ago-->
              <label class="label label-default">{{last_post.created_by}}</label>
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}
