{% extends "base.html" %}
{% load static %}
{% load title_to_url %}
{% load latest_activity %}
{% load format_activity_date %}
{% load number_new %}
{% load is_following %}
{% load test_markdown %}

{% block content %}

<div class="row-fluid">
    <h2 class="page-header clearfix">
        <form id="change-favourite-submit" style="display: inline;" method="post">{% csrf_token %}
            <input type="hidden" name="changeFavouriteSubmit">
            <span class="fa-stack button-favourite">
              <i id="fa-star" {% if not document|is_following:user %}style='display: none'{% endif %} class="fa fa-star fa-stack-1x"></i>
              <i class="fa fa-star-o fa-stack-1x "></i>
            </span>
            [{{ document.title }}] Overview
        </form>
        <a class="pull-right" href="#docSettings" data-toggle="modal" ><i class='fa fa-share-alt'></i></a>
    </h2>
</div>

<div id="question-group">
    {% for question in questions %}
      <div class="panel panel-default box-shadow"> <!--  -->
        <div class="panel-heading">
          <div class="row-fluid clearfix">
          <h3 style="margin: 0;">
            <a href="{{request.path}}/{{ question.title|title_to_url }}">{{ question.title }}</a>
             <small class="pull-right">{{ question.hits }} view{% if question.hits != 1 %}s{% endif %}</small>
          </h3>
          </div>
        </div>
        <div class="panel-body">
          <div class="rich-text">
              {{ question.content|test_markdown|safe }}
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="row-fluid">
            <div class="pull-left">
              <a href="{{request.path}}/{{ question.title|title_to_url }}">{{ question.answer_set.all.count }} answer{% if question.answer_set.all.count != 1%}s{% endif %}
                {% if not user.is_anonymous %}<em style="color:black">({{question|number_new:user}} new)</em>{% endif %}
              </a>
            </div>
            <div class="pull-right">
              {% with last_post=question|latest_activity %}
              <small>{{last_post|format_activity_date}}</small> <!--answered N/A minutes ago-->
              <label class="label label-default">{{last_post.created_by}}</label>
              {% endwith %}
              {% if document.created_by == user %}
              <a onclick="question_delete('{{question.title}}', '{{question.slug}}')" href="#questionDelete" data-toggle="modal"><i class='fa fa-trash fa-fw'></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="container-fluid"><h4>this document has no questions...</h4></div>
    {% endfor %}
</div>

{% if document.created_by == user %}
<hr>

<div class="row-fluid" style="text-align: center;"><div id="btn-add" onclick="showComment(this)" class="btn btn-lg btn-default add-comment" >Add a question</div></div>
<div class="hidden-comment" style="display: none;">
    <form method="POST" id="form-create-question">{% csrf_token %}
        <div class="panel panel-default box-shadow" style="margin-bottom: 10px;">
              <div class="panel-heading" style="padding-top: 2px; padding-bottom: 2px;">

                <div class="input-group">
                  {{ QCForm.q_title }}
                  <addon class="input-group-addon area-span" id="basic-addon2"></addon>
                </div>
              </div>
              <div class="panel-body">
                <div class="editor">
                  {{ QCForm.content }}
                </div>
              </div>
          </div>
        <div class="row-fluid">
          <button type="button" class="btn btn-sm btn-default btn-cancel pull-left" onclick="hideComment(this)">Cancel</button>
          <input type="hidden" name="createQuestionSubmit">
          <button type="submit" class="btn btn-sm btn-success pull-right">Create question</button>
        </div>
    </form>
</div>

<div id="docSettings" class="modal fade">
    <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="container-fluid">

                    <h3 class="modal-title">Share</h3>
                    <hr>
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button id="fetchBtn" data-clipboard-target="#docLink" class="btn btn-default" type="button" data-toggle="popover" data-content="Copied!">
                                <i class="fa fa-link"></i>
                            </button>
                          </span>
                          <input id="docLink" type="text" onfocus="this.select();" class="form-control" value="https://strawdocs.com/doc/{{ document.slug }}" readonly="readonly">
                        </div>
                    <hr style='max-width: 50px; border-top: 2px solid #eee;'>
                    <center>
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </a>

                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </a>
                        <hr>
                        <button type="button" class="btn btn-default" href="document-settings.html" data-dismiss="modal" style="width: 100px;">Done</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="questionDelete" class="modal fade">
    <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="container-fluid">

                    <h3 class="modal-title">Delete</h3>
                    <hr>
                    <h4> Are you sure you want to destroy '<div id="question-name" style="display: inline; color:#a94442"></div>' and all of its answers, and replies?</h4>
                    <hr>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form id="form-delete-question" method="post" style="display: inline">{% csrf_token %}
                    <input id="question-slug" name="deleteQuestionSubmit" type="hidden">
                    <button type="submit" class="btn btn-danger pull-right">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
<script type="text/javascript" src="{% static "js/initiate-simplemde.js" %}"></script>

<script type="text/javascript">
  function showComment(show_link) {
    $(show_link).toggle();
    $(show_link).parents('.row-fluid').siblings('.hidden-comment').toggle();
  }
  function hideComment(hide_button) {
    comment = $(hide_button).closest('.hidden-comment');
    $(comment).siblings('.row-fluid').children('.add-comment').toggle();
    $(comment).toggle();
  }
  function question_delete(title, slug) {
    // inject the title into the form
    $("#question-name").text(title);
    // inject the slug into the form
    $("#question-slug").val(slug);
  }
</script>

<script>
  questionmde = create_simplemde("create-question-editor");
</script>

<script type="text/javascript">
    $(document).on('click', ".button-favourite", function(event){
        // AJAX for favouriting/unfavouriting
        event.preventDefault();
        ajax_post($(this).closest('form'), "#change-favourite-submit", "#change-favourite-submit");
    });

    $(document).on('submit', '#form-create-question', function(event) {
      // AJAX for creating questions
      event.preventDefault();
      textarea =  $(this).find('textarea'); // get the textarea for this form
      $(textarea).val(questionmde.value()); // get the value of this simplemde and set the textarea to this value
      ajax_post($(this), "#question-group", "#question-group");
      $(textarea).val(''); // reset the textarea value
      questionmde.value(''); // reset the simplemde value
      $(this).find('.question-title-input').val('');
      hideComment(this);
    });

    $(document).on('submit', '#form-delete-question', function(event) {
      // AJAX for creating questions
      event.preventDefault();
      ajax_post($(this), "#question-group", "#question-group");
      $('#questionDelete').modal('hide');
    });
</script>
{% endblock %}
