{% extends "base.html" %}
{% load static %}
{% load format_date %}
{% load vote_status %}
{% load tz %}

{% block content %}

      <div class="row-fluid">
        <h2 class="page-header">{{ question.title }}</h2>
      </div>

      <div class="row">
        <div class="parent-post col-lg-36">
          <div class="rich-text">
          {{ question.content|safe }}
          </div>
          <div class="row-fluid clearfix parent-post-footer">
            <div class="pull-left">
              <form method="POST">{% csrf_token %}
                  <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button name="upvoteSubmit" value="{{ question.slug }}" type="submit" class="btn btn-{% if question.upvotes|vote_status:user %}success{% else %}default{% endif %}">
                      {{question.upvotes.all.count}} <span class="fa fa-thumbs-o-up fa-fw"></span>
                    </button>
                    <button name="downvoteSubmit" value="{{ question.slug }}"  type="submit" class="btn btn-{% if question.downvotes|vote_status:user %}danger{% else %}default{% endif %}">
                      {{question.downvotes.all.count}} <span class="fa fa-thumbs-o-down fa-fw"></span>
                    </button>
                  </div>
              </form>
            </div>
            <div class="pull-right"><small>{{ question.created_on|localtime|format_date }}</small> <label class="label label-default">{{question.created_by}}</label>
              <div class="dropdown pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-reply fa-fw"></i> Reply</a></li>
                  <li><a href="#report-modal" role="button" data-toggle="modal"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                </ul>
              </div>
            </div>
          </div>

          <hr class="thin">


        </div>

        <div class="replies col-xs-34 col-xs-offset-2">
          {% for reply in question.replies.all %}
              <div class="row-fluid clearfix">

                  <div class="rich-text">
                  {{ reply.content|safe }}
                  </div>
                  <div class="row-fluid">
                    <div class="pull-left">
                      <form method="POST">{% csrf_token %}
                        <button name="upvoteSubmit" value="{{ reply.slug }}" type="submit" class="btn btn-xs btn-{% if reply.upvotes|vote_status:user %}success{% else %}default{% endif %}">
                          {{reply.upvotes.all.count}} <span class="fa fa-thumbs-o-up fa-fw"></span>
                        </button>
                      </form>
                    </div>
                    <div class="pull-right"><small>{{ reply.created_on|localtime|format_date }}</small> <label class="label label-default">{{reply.created_by}}</label>
                      <div class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="fa fa-reply fa-fw"></i> Reply</a></li>
                          <li><a href="#"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

              </div>

              <hr class="thin">
          {% endfor %}

          <a class='add-comment' onclick="showComment(this)">add a comment</a>
          <div class="hidden-comment" style="display: none;">
              <form method="POST">{% csrf_token %}
              <input type='hidden' name="thread_slug" value="{{ question.slug }}"></input>
              {{ PCForm.content }}
              <div class="row-fluid clearfix" style="margin-top: 10px;">
                <button class="btn btn-sm btn-default btn-cancel pull-left" onclick="hideComment(this)">Cancel</button>
                <button onclick="removeRequired()" type="submit" name="createReplySubmit" class="btn btn-sm btn-success pull-right">Post your comment</button>
              </div>
              </form>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-36">
          <h2 class="page-header">Answers

            <div class="dropdown dropdown-text pull-right">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-comments-o fa-fw"></i> Active</a></li>
                <li><a href="#"><i class="fa fa-clock-o fa-fw"></i> Oldest</a></li>
                <li><a href="#"><i class="fa fa-thumbs-o-up fa-fw"></i> Votes</a></li>
              </ul>
            </div>
          </h2>
        </div>
      </div>

      <div id="answers">
        {% for answer in answers %}
          <div class="row">
            <div class="parent-post col-lg-36">
              <div class="rich-text">
                {{ answer.content|safe }}
              </div>
              <div class="row-fluid clearfix parent-post-footer">
                <div class="pull-left">
                  <form method="POST">{% csrf_token %}
                      <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <button name="upvoteSubmit" value="{{ answer.slug }}" type="submit" class="btn btn-{% if answer.upvotes|vote_status:user %}success{% else %}default{% endif %}">
                          {{answer.upvotes.all.count}} <span class="fa fa-thumbs-o-up fa-fw"></span>
                        </button>
                        <button name="downvoteSubmit" value="{{ answer.slug }}" type="submit" class="btn btn-{% if answer.downvotes|vote_status:user %}danger{% else %}default{% endif %}">
                          {{answer.downvotes.all.count}} <span class="fa fa-thumbs-o-down fa-fw"></span>
                        </button>
                      </div>
                  </form>

                </div>
                <div class="pull-right"><small>{{ answer.created_on|localtime|format_date }}</small> <label class="label label-default">{{answer.created_by}}</label>
                  <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><i class="fa fa-reply fa-fw"></i> Reply</a></li>
                      <li><a href="#"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <hr class="thin">


            </div>

            <div class="replies col-xs-34 col-xs-offset-2">
              {% for reply in answer.replies.all %}
                  <div class="row-fluid clearfix">

                      <div class="rich-text">
                      {{ reply.content|safe }}
                      </div>
                      <div class="row-fluid">
                        <div class="pull-left">
                          <form method="POST">{% csrf_token %}
                            <button name="upvoteSubmit" value="{{ reply.slug }}" type="submit" class="btn btn-xs btn-{% if reply.upvotes|vote_status:user %}success{% else %}default{% endif %}">
                              {{reply.upvotes.all.count}} <span class="fa fa-thumbs-o-up fa-fw"></span>
                            </button>
                          </form>
                        </div>
                        <div class="pull-right"><small>{{ reply.created_on|localtime|format_date }}</small> <label class="label label-default">{{reply.created_by}}</label>
                          <div class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#"><i class="fa fa-reply fa-fw"></i> Reply</a></li>
                              <li><a href="#"><i class="fa fa-flag fa-fw"></i> Report</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                  </div>

                  <hr class="thin">
              {% endfor %}

              <a class='add-comment' onclick="showComment(this)">add a comment</a>
              <div class="hidden-comment" style="display: none;">
                  <form method="POST">{% csrf_token %}
                  <input type='hidden' name="thread_slug" value="{{ answer.slug }}"></input>
                  {{ PCForm.content }}
                  <div class="row-fluid clearfix" style="margin-top: 10px;">
                    <button class="btn btn-sm btn-default btn-cancel pull-left" onclick="hideComment(this)">Cancel</button>
                    <button onclick="removeRequired()"  type="submit" name="createReplySubmit" class="btn btn-sm btn-success pull-right">Post your comment</button>
                  </div>
                  </form>
              </div>

            </div>

          </div>
          <hr class="dark">
        {% empty %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-36"><h4>there are no answers yet...</h4></div>
            </div>
          </div>
          <hr class="dark">
        {% endfor %}
      </div>

      <div class="row-fluid">
        <h4>Add an answer</h4>
      </div>

      <div id="your_answer">
          <form method="POST">{% csrf_token %}
          <div class="row-fluid">
                {{ACForm.content}}
          </div>
          <div class="row-fluid">
            <button onclick="removeRequired()" name="createAnswerSubmit" type="submit" class="btn btn-primary pull-right" style="margin-top: 10px;">Post your answer</button>
          </div>
          </form>
      </div>

<!-- Report Modal HTML -->
<div id="report-modal" class="modal fade">
  <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="container-fluid">

                <h3 class="modal-title">Report this post</h3>
                <hr>
                Select the reason(s) you found to report this post:
                <div class="checkbox">
                  <label><input type="checkbox" value="">Inappropriate imagery</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">URL shortener</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Spam</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Harassment, hate speech, or verbal abuse</label>
                </div>
            </div>
        <hr>
        <div class="row-fluid clearfix">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger pull-right"><i class="fa fa-flag fa-fw"></i> Report</button>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
    <script>
    tinymce.init({
      selector: 'textarea',
      height: 100,
      theme: 'modern',
      removed_menuitems: 'newdocument',
      plugins: [
        'advlist autolink lists link image charmap preview hr',
        'searchreplace code eqneditor',
        'insertdatetime save table directionality',
        'paste textpattern imagetools'
      ],
      toolbar1: 'bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | link image eqneditor',
    });
    </script>
    <script>
    $( ".replies" ).each(function() {
      if ($(this).children(".row-fluid").length > 5) {
        // get count ofo number of children
        var replyNumber = $(this).children(".row-fluid").length - 5;
        // hide the other elements
        $(this).children(":gt(9)").hide();

        // create new expand button
        $(this).append("<a class='show-comments'>show <b>"+replyNumber+"</b> more comments </a>");
      }
    });
    </script>

    <script>
    $(function() {
      $(document).on('click', '.show-comments', function() {
        $(this).parent().children(":gt(9)").show();
        $(this).remove();
      });
    });
    </script>

    <script>
      function showComment(show_link) {
        $(show_link).toggle();
        $(show_link).siblings('.hidden-comment').toggle();
      }
      function hideComment(hide_button) {
        comment = $(hide_button).closest('.hidden-comment');
        $(comment).siblings('.add-comment').toggle();
        $(comment).toggle();
      }
    // $(function() {
    //   var questionTotal = 1;
    //
    //   $(document).on('click', '.add-comment', function(e) {
    //
    //       questionTotal += 1;
    //       textareaId = "mceId"+questionTotal;
    //       console.log('new post reply');
    //       // add new blank reply
    //       $(this).closest('.replies').append('<div class="reply-content row-fluid">'+
    //       '<textarea id="'+textareaId+'"></textarea>'+
    //
    //       '<div class="row-fluid clearfix">'+
    //       '<button class="btn btn-sm btn-default btn-cancel pull-left" style="margin-top: 10px;">'+
    //       'Cancel'+
    //       '</button>'+
    //       '<button type="submit" class="btn btn-sm btn-success pull-right" style="margin-top: 10px;">'+
    //       'Post your comment'+
    //       '</button>'+
    //       '</div>'+
    //       '</div>');
    //
    //       tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);
    //       $(this).hide();
    //
    //   });
    //
    //   $(document).on('click', '.btn-cancel', function(e) {
    //     $(this).closest('.replies').find('.add-comment').show();
    //
    //     tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.reply-content').find('textarea').attr('id'));
    //     $(this).closest('.reply-content').remove();
    //   });
    //
    // });
    </script>

    <script>
    function removeRequired() {
       /* Remove the 'required' field for the hidden input textarea
        * not doing so will pick up an unavoidable error for validating the textarea
        */
        $("textarea").removeAttr("required");
    }
    </script>
{% endblock %}
