{% extends "base.html" %}
{% load static %}
{% load format_date %}
{% load vote_status %}
{% load tz %}

{% block head_title %}[{{document.title}}] {{ question.title }}{% endblock %}

{% block content %}
    <h2 class="page-header">[<a href="{{document_url}}"><strong>{{document.title}}</strong></a>] {{ question.title }}</h2>
    <div id="posts">
      <div class="row">
        <div class="parent-post col-lg-36">
          <div class='editable-comment'>
              {% include "post.html" with post_type="question" post=question user=user %}
          </div>
          <hr class="thin">

        </div>
        <div class="replies col-xs-34 col-xs-offset-2">
          {% for reply in question.replies.all %}
              {% include "post.html" with post_type="reply" post=reply %}

              <hr class="thin">
          {% endfor %}

          <input class="slug" type="hidden" value='{{ question.slug }}'>
          {% if not user.is_anonymous %}
            <a class='add-comment'>add a comment</a>
          {% else %}
            <div><a href="#login" data-toggle="modal">log in</a> to reply</div>
          {% endif %}
        </div>
      </div>

      <h2 class="page-header">Answers
        <div class="dropdown dropdown-text pull-right">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="?sortby=active#answers"><i class="fa fa-comments-o fa-fw"></i> Active</a></li>
            <li><a href="?sortby=newest#answers"><i class="fa fa-clock-o fa-fw"></i> Newest</a></li>
            <li><a href="?sortby=votes#answers"><i class="fa fa-thumbs-o-up fa-fw"></i> Votes</a></li>
          </ul>
        </div>
      </h2>
      <div id="answers">
          {% for answer in answers %}
            <div class="row">
              <div class="parent-post col-lg-36">
                <div class='editable-comment'>
                    {% include "post.html" with post_type="answer" post=answer user=user %}
                </div>
                <hr class="thin">
              </div>

              <div class="replies col-xs-34 col-xs-offset-2">
                {% for reply in answer.replies.all %}
                    {% include "post.html" with post_type="reply" post=reply %}
                    <hr class="thin">
                {% endfor %}

                <input class="slug" type="hidden" value='{{ answer.slug }}'>
                {% if not user.is_anonymous %}
                  <a class='add-comment'>add a comment</a>
                {% else %}
                  <div><a href="#login" data-toggle="modal">log in</a> to reply</div>
                {% endif %}
              </div>
            </div>
            <hr class="dark">

          {% empty %}
            <div class="container-fluid"><h4>there are no answers yet...</h4></div>
            <hr class="dark">
          {% endfor %}
      </div>
    </div>

    {% if not user.is_anonymous %}
      <div class="row-fluid">
        <h4>Add an answer</h4>
      </div>
    {% else %}
      <div class="row-fluid">
        <h4><a href="#login" data-toggle="modal">log in</a> to answer</h4>
      </div>
    {% endif %}

    <div id="your_answer">
        <form method="POST" id="create-answer-form">{% csrf_token %}
        <div class="row-fluid">
          <div class="editor">{{ PCForm.content }}</div>
        </div>
        <div class="row-fluid">
          <input type="hidden" name="createAnswerSubmit">
          <button type="submit" class="btn btn-primary pull-right {% if user.is_anonymous %}disabled{% endif %}" style="margin-top: 10px;">Post your answer</button>
        </div>
        </form>
      </div>
    <!-- Report Modal HTML -->
    <div id="report-modal" class="modal fade">
      <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
          <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="container-fluid">

                    <h3 class="modal-title">Report this post</h3>
                    <hr>
                    Select the reason(s) you found to report this post:
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Inappropriate imagery</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">URL shortener</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Spam</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Harassment, hate speech, or verbal abuse</label>
                    </div>
                </div>
            <hr>
            <div class="row-fluid clearfix">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger pull-right"><i class="fa fa-flag fa-fw"></i> Report</button>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
<script type="text/javascript" src="{% static "js/initiate-simplemde.js" %}"></script>

<script type="text/javascript">
  questionmde = create_simplemde("create-question-editor");
</script>


<script type="text/javascript">
  var questionTotal = 1;
  var simplemdes = {};

  function dynamic_simplemde(self, post_type) {
    questionTotal += 1;
    textareaId = "mceId"+questionTotal;
    slug = $(self).siblings('.slug').val();

    if (post_type == 'reply') {
      cancel_btn_name = 'btn-cancel-reply';
      submit_btn_name = 'createReplySubmit';
      form_name = 'createReplyForm';
    } else {
      cancel_btn_name = 'btn-cancel-edit';
      submit_btn_name = 'editPostSubmit';
      form_name = 'editPostForm';
    }

    reply_content = '<div class="reply-content row-fluid">'+
    "<form class="+form_name+" method='POST' style='display: inline'>{% csrf_token %}" +
    '<div class="editor"><textarea name="content" id="'+textareaId+'"></textarea></div>'+
    '<div class="row-fluid clearfix">'+
    '<button type=button class="btn btn-sm btn-default ' + cancel_btn_name +' pull-left" style="margin-top: 10px;">'+
    'Cancel'+
    '</button>'+
    '<input type="hidden" name='+submit_btn_name+' value='+slug+'>' +
    '<button type="submit" class="btn btn-sm btn-success pull-right" style="margin-top: 10px;">'+
    'Save changes'+
    '</button>'+
    '</div>'+
    '</form>' +
    '</div>';

    if (post_type == 'reply') {
      var hideable_content = $(self).closest('.replies');
      $(hideable_content).append(reply_content);
      $(self).hide();
    } else {
      var hideable_content = $(self).closest('.editable-comment');
      $(hideable_content).after(reply_content);
      $(hideable_content).hide();
    }

    var new_simplemde = create_simplemde(textareaId);

    if (post_type != 'reply') {
      new_simplemde.value($(self).closest('.parent-post').find('.rich-text-markdown').html());
    }

    simplemdes[textareaId] = new_simplemde;
    delete new_simplemde;
    console.log(simplemdes);

    $(document).on('submit', ".createReplyForm", function(e){
      // AJAX for submitting replies
      e.preventDefault();
      e.stopImmediatePropagation();
      console.log('POST!');

      textarea =  $(this).find('textarea'); // get the textarea for this form

      var simplemde_id = $(textarea).attr('id');
      $(textarea).val(simplemdes[simplemde_id].value()); // get the value of this simplemde and set the textarea to this value
      ajax_post($(this), "#posts", "#posts"); // send the post request
      delete simplemdes[simplemde_id];
    });

    $(document).on('submit', ".editPostForm", function(e){
      // AJAX for editing posts
      e.preventDefault();
      e.stopImmediatePropagation();
      console.log('POST!');

      textarea =  $(this).find('textarea'); // get the textarea for this form

      var simplemde_id = $(textarea).attr('id');
      $(textarea).val(simplemdes[simplemde_id].value()); // get the value of this simplemde and set the textarea to this value
      ajax_post($(this), "#posts", "#posts"); // send the post request
      delete simplemdes[simplemde_id];
    });

    $(document).on('click', '.btn-cancel-reply', function(e) {
      // Destroy the simplemde instance first
      delete simplemdes[$(this).closest('form').find('textarea').attr('id')];
      $(this).closest('.replies').find('.add-comment').show();
      $(this).closest('.reply-content').remove();
      console.log(simplemdes);
    });

    $(document).on('click', '.btn-cancel-edit', function(e) {
      e.stopImmediatePropagation();
      // Destroy the simplemde instance first
      delete simplemdes[$(this).closest('form').find('textarea').attr('id')];
      $(this).closest('.parent-post').find('.editable-comment').show();
      $(this).closest('.reply-content').remove();
      console.log(simplemdes);
    });

  }

  /* FOR QUESTION AND ANSWER EDITING */
  $(document).on('click', '.edit-comment', function(e) {
      $(this).closest('.editable-comment').after(dynamic_simplemde(this, 'non-reply'));
  });

  /* FOR REPLIES */
  $(document).on('click', '.add-comment', function(e) {
    $(this).closest('.editable-comment').after(dynamic_simplemde(this, 'reply'));
  });

</script>


<script type="text/javascript">

  answermde = create_simplemde("create-post-editor");

  $(document).on('submit', '#create-answer-form', function(e) {
      // AJAX for submitting answers
      e.preventDefault();
      {% if user.is_anonymous %}
        $("#login").modal("show");
      {% else %}
        textarea =  $(this).find('textarea'); // get the textarea for this form
        $(textarea).val(answermde.value()); // get the value of this simplemde and set the textarea to this value
        ajax_post($(this), "#answers", "#answers"); // send the post request
        $(textarea).val(''); // reset the textarea value
        answermde.value(''); // reset the simplemde value
      {% endif %}
  });


  $(document).on('submit', ".vote-submit", function(e) {
    // AJAX for submitting upvotes/downvotes
    e.preventDefault();
    {% if user.is_anonymous %}
      $("#login").modal("show");
    {% else %}
      ajax_post($(this), $(this).closest('.btn-group-xs'), ".btn-group-xs");
    {% endif %}
  });
</script>

<script type="text/javascript">
  $( ".replies" ).each(function() {
    if ($(this).children(".row-fluid").length > 5) {
      // get count ofo number of children
      var replyNumber = $(this).children(".row-fluid").length - 5;
      // hide the other elements
      $(this).children(":gt(14)").hide();

      // create new expand button
      $(this).append("<div class='show-comments'><a>show <b>"+replyNumber+"</b> more comments </a></div>");
    }
  });

  $(document).on('click', '.show-comments', function() {
    $(this).parent().children(":gt(14)").show();
    $(this).remove();
  });

</script>
{% endblock %}
