{% extends "base.html" %}
{% load static %}
{% load format_date %}
{% load vote_status %}
{% load tz %}

{% block content %}
      <h2 class="page-header">[<a href="{{document_url}}">{{document.title}}</a>] {{ question.title }}</h2>
      <div class="row">
        <div class="parent-post col-lg-36">
          <div class='editable-comment'>
              {% include "post.html" with post_type="question" post=question user=user %}
          </div>
          <hr class="thin">

        </div>
        <div class="replies col-xs-34 col-xs-offset-2">
          {% for reply in question.replies.all %}
              {% include "post.html" with post_type="reply" post=reply %}

              <hr class="thin">
          {% endfor %}

          <input class="slug" type="hidden" value='{{ question.slug }}'>
          <a class='add-comment'>add a comment</a>
        </div>
      </div>

      <h2 class="page-header" id="answers">Answers
        <div class="dropdown dropdown-text pull-right">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sort by <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="?sortby=active#answers"><i class="fa fa-comments-o fa-fw"></i> Active</a></li>
            <li><a href="?sortby=oldest#answers"><i class="fa fa-clock-o fa-fw"></i> Oldest</a></li>
            <li><a href="?sortby=votes#answers"><i class="fa fa-thumbs-o-up fa-fw"></i> Votes</a></li>
          </ul>
        </div>
      </h2>

      {% for answer in answers %}
        <div class="row">
          <div class="parent-post col-lg-36">
            <div class='editable-comment'>
                {% include "post.html" with post_type="answer" post=answer user=user %}
            </div>
            <hr class="thin">
          </div>

          <div class="replies col-xs-34 col-xs-offset-2">
            {% for reply in answer.replies.all %}
                {% include "post.html" with post_type="reply" post=reply %}
                <hr class="thin">
            {% endfor %}

            <input class="slug" type="hidden" value='{{ answer.slug }}'>
            <a class='add-comment'>add a comment</a>
          </div>
        </div>
        <hr class="dark">

      {% empty %}
        <div class="container-fluid"><h4>there are no answers yet...</h4></div>
        <hr class="dark">
      {% endfor %}

      <div class="row-fluid">
        <h4>Add an answer</h4>
      </div>

      <div id="your_answer">
          <form method="POST">{% csrf_token %}
          <div class="row-fluid">
                {{ACForm.content}}
          </div>
          <div class="row-fluid">
            <button onclick="removeRequired()" name="createAnswerSubmit" type="submit" class="btn btn-primary pull-right" style="margin-top: 10px;">Post your answer</button>
          </div>
          </form>
      </div>

      <!-- Report Modal HTML -->
      <div id="report-modal" class="modal fade">
        <div class="modal-dialog" style="width: 300px; margin: 30px auto;">
            <div class="modal-content">
              <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <div class="container-fluid">

                      <h3 class="modal-title">Report this post</h3>
                      <hr>
                      Select the reason(s) you found to report this post:
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Inappropriate imagery</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">URL shortener</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Spam</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Harassment, hate speech, or verbal abuse</label>
                      </div>
                  </div>
              <hr>
              <div class="row-fluid clearfix">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger pull-right"><i class="fa fa-flag fa-fw"></i> Report</button>
              </div>
            </div>

          </div>
        </div>
      </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/tinymce/tinymce.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/initiate-tinymce.js" %}"></script>
    <script type="text/javascript" src="{% static "js/show-all-comments.js" %}"></script>
    <script type="text/javascript" src="{% static "js/remove-required.js" %}"></script>
    <script type="text/javascript">
        $('.vote-submit').submit(function() { // catch the form's submit event
            // AJAX for posting
            var self = $(this); //<-- Set up here.
            event.preventDefault();

            $.ajax({
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call

                // handle a successful response
                success : function(response) {
                  if (response.constructor == {}.constructor) {
                     // some error message TODO: maybe there's a more delicate way to do this
                      $.each( response, function( key, value ) {
                        $('#error_div').html('<div class="alert alert-danger">'+value+'</div>');
                      });
                  } else {
                      // change the values of the buttons
                      $(self).closest('.btn-group').find('button').each( function() {
                        count_div = $(this).find('div');
                        if ($(this).hasClass('btn-success') || $(this).hasClass('btn-danger')) {
                          curr_vote_count = parseInt($(count_div).text());
                          $(count_div).text((curr_vote_count - 1).toString() + ' ');
                        }
                        $(this).removeClass('btn-default');
                        $(this).removeClass('btn-success');
                        $(this).removeClass('btn-danger');
                        $(this).addClass('btn-default');
                      });
                      // color the right button and change the value of the pressed button
                      button = $(self).find('button');
                      count_div = $(button).find('div');
                      if (response == 'upvote' || response == 'downvote') {
                        $(button).removeClass('btn-default');
                        curr_vote_count = parseInt($(count_div).text());
                        $(count_div).text((curr_vote_count + 1).toString() + ' ');
                        if (response == 'upvote'){ $(button).addClass('btn-success'); }
                        else if (response == 'downvote') { $(button).addClass('btn-danger'); }
                      }
                  }
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        });
    </script>
    <script type="text/javascript">
      var questionTotal = 1;

      function create_tinymce(post_type, slug) {
        if (post_type == 'reply') {
          cancel_btn_name = 'btn-cancel-reply';
          submit_btn_name = 'createReplySubmit';
        } else {
          cancel_btn_name = 'btn-cancel-edit';
          submit_btn_name = 'editPostSubmit';
        }

        new_tinymce = '<div class="reply-content row-fluid">'+
        "<form method='POST' style='display: inline'>{% csrf_token %}" +
        '<textarea name="content" id="'+textareaId+'"></textarea>'+
        '<div class="row-fluid clearfix">'+
        '<button type=button class="btn btn-sm btn-default ' + cancel_btn_name +' pull-left" style="margin-top: 10px;">'+
        'Cancel'+
        '</button>'+
        '<button value='+slug+' name='+submit_btn_name+' onclick="tinyMCE.triggerSave(); removeRequired();" type="submit" class="btn btn-sm btn-success pull-right" style="margin-top: 10px;">'+
        'Save changes'+
        '</button>'+
        '</div>'+
        '</form>' +
        '</div>';

        return new_tinymce
      }

      /* FOR QUESTION AND ANSWER EDITING */
      $(document).on('click', '.edit-comment', function(e) {
          questionTotal += 1;
          textareaId = "mceId"+questionTotal;
          slug = $(this).siblings('.slug').val()
          closest_editable =  $(this).closest('.editable-comment');
          $(closest_editable).after(create_tinymce('non-reply', slug));

          tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);
          // populate it with existing content
          tinyMCE.get( textareaId).setContent($(closest_editable).find('.rich-text').html());
          $(closest_editable).hide();

      });

      $(document).on('click', '.btn-cancel-edit', function(e) {
        $(this).closest('.parent-post').find('.editable-comment').show();

        tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.parent-post').find('textarea').attr('id'));
        $(this).closest('.reply-content').remove();
      });

      /* FOR REPLIES */
      $(document).on('click', '.add-comment', function(e) {
          questionTotal += 1;
          textareaId = "mceId"+questionTotal;
          slug = $(this).siblings('.slug').val()
          // add new blank reply
          $(this).closest('.replies').append(create_tinymce('reply', slug));

          tinymce.EditorManager.execCommand('mceAddEditor', true, textareaId);
          $(this).hide();

      });

      $(document).on('click', '.btn-cancel-reply', function(e) {
        $(this).closest('.replies').find('.add-comment').show();

        tinymce.EditorManager.execCommand('mceRemoveEditor',true, $(this).closest('.reply-content').find('textarea').attr('id'));
        $(this).closest('.reply-content').remove();
      });
    </script>
{% endblock %}
