{% extends "base.html" %}

{% block content %}

    <h2 class="page-header clearfix">
        <div class="pull-left">
            <i class="fa fa-unlock-alt fa-fw"></i> Recover Account
        </div>
    </h2>

    {% if token == 'valid' %}
      <form method="post" id="change-password-form">{% csrf_token %}
        <div class="container-fluid">
          <h3 class="text-center">Change password</h3>
          <div class="row">
            <div class="col-xs-24 col-xs-offset-6">
              <div class="input-group">
                  {{ PRForm.username }}
                  <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-xs-24 col-xs-offset-6">
              <div class="input-group">
                  {{ PRForm.password1 }}
                  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-xs-24 col-xs-offset-6">
              <div class="input-group">
                  {{ PRForm.password2 }}
                  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div id="PasswordResetFormMessageDiv"></div>
        <hr>
        <input type="hidden" name="passwordResetSubmit" value='{{ token_value }}'>
        <button class="btn btn-primary center-block">Change it!</button>
      </form>
    {% elif token == 'doesnotexist' %}
        <div class="container-fluid">
          <h4 class="text-center">
            Oh gosh! The password reset link you have clicked on does not exist.
            <br>Click <a href="/account/recovery/">here</a> to send a new password
            recovery email.
          </h4>
        </div>
    {% elif token == 'expired' %}
        <div class="container-fluid">
          <h4 class="text-center">
            Oh no! The password reset link has expired.
            <br>Click <a href="/account/recovery/">here</a> to send a new password
            recovery email.
            <br>
            <small>(for sercurity measures, recovery links expire after 24 hours)
          </h4>
        </div>
    {% else %}
    <div class="container-fluid">
        <form id='EmailRecoveryForm' method="post">{% csrf_token %}
          <h4 class="text-center">Enter the email address you used to register for Strawdocs. We'll be sending you a recovery link shortly.</h4>
          <div class="row">
            <div class="col-xs-offset-6 col-xs-24">
              <div class="input-group">
                  {{ ERForm.email }}
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              </div>
            </div>
          </div>
          <div id="EmailRecoveryFormMessageDiv"></div>
          <hr>
          <input type='hidden' name='emailRecoverySubmit'/>
          <button type="submit" class="btn btn-primary center-block" style="margin-top: 10px;">Send Recovery Email</button>
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
$(document).on('submit', "#EmailRecoveryForm", function(event) {
  // AJAX for submitting upvotes/downvotes
    event.preventDefault();
    $.ajax({
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: $(this).attr('action'), // the file to call
        // handle a successful response
        success : function(response) {
            $('#alert-absolute-div').html('');
            if (response.error_message) {
              // only allows for one error at a time
              $('#EmailRecoveryFormMessageDiv').html(
                '<div class="row"><div class="col-xs-24 col-xs-offset-6"><div class="alert alert-danger fade in text-center" style="margin-top: 10px; margin-bottom: 0px;"><strong>Whoops!</strong> ' +response.error_message+'</div></div></div>'
              )
            }
            if (response.success_message) {
              // only allows for one error at a time
              $('#EmailRecoveryFormMessageDiv').html(
                '<div class="row"><div class="col-xs-24 col-xs-offset-6"><div class="alert alert-success fade in text-center" style="margin-top: 10px; margin-bottom: 0px;"><strong>Success!</strong> ' +response.success_message+'</div></div></div>'
              )
            }

        },
        // handle a non-successful response
        error : function() {
            $('#alert-absolute-div').html(
              '<div class="alert alert-danger text-center"><strong>Uh oh!</strong> Something went wrong on our side. <strong>Please try again later.</strong><button type="button" class="close" data-dismiss="alert">×</button></div>'
            )
        }
    });
});

$(document).on('submit', "#change-password-form", function(event) {
  // AJAX for submitting upvotes/downvotes
    event.preventDefault();
    $.ajax({
        data: $(this).serialize(), // get the form data
        type: $(this).attr('method'), // GET or POST
        url: $(this).attr('action'), // the file to call
        // handle a successful response
        success : function(response) {
            $('#alert-absolute-div').html('');
            if (response.error_message) {
              $('#PasswordResetFormMessageDiv').html(
                '<div class="row" style="margin:0;"><div class="col-xs-24 col-xs-offset-6"><div class="alert alert-danger fade in text-center" style="margin-top: 10px; margin-bottom: 0px;"><strong>Whoops!</strong> ' +response.error_message+'</div></div></div>'
              )
            } else {
              $('#change-password-form').replaceWith(
                '<h4 class="text-center">Hooray! You\'ve successfully changed your password!<br>Click <a href="#login" data-toggle="modal">here</a> to sign in.</h4>'
              )
            }
        },
        // handle a non-successful response
        error : function() {
            $('#alert-absolute-div').html(
              '<div class="alert alert-danger text-center"><strong>Uh oh!</strong> Something went wrong on our side. <strong>Please try again later.</strong><button type="button" class="close" data-dismiss="alert">×</button></div>'
            )
        }
    });
});

</script>
{% endblock %}
