{% extends "base.html" %}

{% block head_title %}Team{% endblock %}

{% block content %}

    <h2 class="page-header clearfix">
        <div class="pull-left">
            <i class="fa fa-users fa-fw"></i> Meet the Team
        </div>
    </h2>

    <div class="text-center">
        <img src="http://flathash.com/lestrato" class="avatar img-circle"></img>
        <h3 style="margin-top: 10px; margin-bottom: 5px;">Mark C</h3>
        <div class="row" style="margin-top: 10px;">
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/in/mark-clapa-536802131" class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="linkedin" data-container="body">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </a>

            <!-- Twitter -->
            <a href="https://twitter.com/markclapa" class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="@twitter" data-container="body">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>

       </div>
    </div>

    <hr width="50%">

    <h3 class="text-center"><small>this website is maintained by the community<br>if you're thinking of joining the development team, send an email <a href="/support">here</a>!</small></h3>


{% endblock %}
