{% extends "base.html" %}

{% block content %}

    <h2 class="page-header clearfix">
        <div class="pull-left">
            <i class="fa fa-users fa-fw"></i> Meet the Team
        </div>
    </h2>

    <div class="row-fluid">
      <div class="col-sm-6">
        <div class="text-center">
            <img src="http://flathash.com/lestrato" class="avatar img-circle"></img>
            <h3 style="margin-top: 10px; margin-bottom: 5px;">Lestrato</h3>
            <div class="row" style="margin-top: 10px;">
                <!-- Email -->
                <span class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="fname1@email.com" data-container="body">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span>

                <!-- Twitter -->
                <a href="https://twitter.com/twitter" class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="@twitter" data-container="body">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </a>

                <!-- Google+ -->
                <a href="https://plus.google.com/108566738628782711443/about" class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="fname" data-container="body">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </a>

           </div>
        </div>

      </div>
      <hr class="visible-xs-block" style="max-width: 200px;">
      <div class="col-sm-6">
        <div class="text-center">
            <img src="http://flathash.com/iasi2050" class="avatar img-circle"></img>
            <h3 style="margin-top: 10px; margin-bottom: 5px;">Iasi2050</h3>
            <div class="row" style="margin-top: 10px;">
                <!-- Email -->
                <span class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="fname1@email.com" data-container="body">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span>

                <!-- Twitter -->
                <a href="https://twitter.com/twitter" class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="@twitter" data-container="body">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </a>

                <!-- Google+ -->
                <a href="https://plus.google.com/108566738628782711443/about" class="fa-stack fa-lg fa-link" data-toggle="tooltip" data-placement="bottom" title="fname" data-container="body">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </a>

           </div>
        </div>

      </div>
    </div>

{% endblock %}
