{% extends "base.html" %}

{% block head_title %}Team{% endblock %}

{% block content %}

    <h2 class="page-header clearfix">
        <div class="pull-left">
            <i class="fa fa-user-o fa-fw"></i> Meet the Team
        </div>
    </h2>

    <div class="text-center">
        <img src="http://flathash.com/lestrato" class="avatar img-circle"></img>
        <h3 style="margin-top: 10px; margin-bottom: 5px;">Mark C</h3>
        <div class="row" style="margin-top: 10px;">
            <!-- Linkedin -->
            <a type="button" class="btn btn-linkedin-share btn-sm" href="https://www.linkedin.com/in/mark-clapa-536802131"><i class="fa fa-linkedin fa-fw fa-lg fa-inverse"></i></a>
            <!-- Twitter -->
            <a type="button" class="btn btn-twitter-share btn-sm" href="https://twitter.com/markclapa"><i class="fa fa-twitter fa-fw fa-lg fa-inverse"></i></a>
       </div>
    </div>

    <hr width="50%">

    <h3 class="text-center"><small>This website is regularly maintained by the above lovely people <i class="fa fa-heart-o fa-fw"></i><br>If you're thinking of joining the development team, send an email <a href="{% url 'support' %}">here</a>!</small></h3>


{% endblock %}
